{% extends "base.html" %}
{% load envelope_tags crispy_forms_tags %}
{% block content %}
        <!-- START Template Main -->
        <section id="main" role="main">
            <!-- START page header -->
            <section class="page-header page-header-block nm">
                <!-- pattern -->
                <div class="bg-icon-1 bg-icon-right" style="right: 30px;"></div>
                <!--/ pattern -->
                <div class="container-fluid pt15 pb15">
                    <div class="page-header-section">
                        <h1 class="title font-alt">Contactenos</h1>
                    </div>
                    <div class="page-header-section">
                    </div>
                </div>
            </section>
            <!--/ END page header -->
            <!-- START Contact Form + Infos -->
            <section class="section"> <!-- bgcolor-white -->
                <div class="container-fluid pl15">
                    <!-- START Row -->
                    <div class="row">
                        <!-- START Left Section -->
                        <div class="col-md-6 col-md-offset-1 col- mb15">
                            <!-- Header -->
                            <div class="section-header section-header-bordered mb10">
                                <h3 class="section-title">
                                    <p class="font-alt nm">Formulario de contacto </p>
                                </h3>
                            </div>
                            <!--/ Header -->
                            <!-- Form -->
                              <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="form-control-static">{{ contact.contacto_general|safe }}</p>
                                    </div>
                                </div>
                                <form action="{% url 'envelope-contact' %}" class="form-horizontal" method="post">
                                  {% csrf_token %}
                                  {% antispam_fields %}
                                  {{ form|crispy }}
                                  <button class="btn btn-primary" type="submit">Enviar Mensaje</button>
                                </form>
                              </div>
                            <!--/ Form -->
                        </div>
                        <!--/ END Left Section -->
                        
                        <!-- START Right Section -->
                        <div class="col-lg-3 col-md-4 col-lg-offset-1 col-md-offset-1">
                            <div class="row">
                                <!-- Address -->
                                <div class="mb15 col-md-12 col-sm-4">
                                    <!-- Header -->
                                    <div class="section-header section-header-bordered mb10">
                                        <h4 class="section-title">
                                            <p class="font-alt nm">Dirección </p>
                                        </h4>
                                    </div>
                                    <!--/ Header -->
                                    <address>
                                        {{ contact.informacion_contacto|safe }}
                                    </address>
                                </div>
                                <!--/ Address -->
                            </div>
                        </div>
                        <!--/ END Right Section -->
                    </div>
                    <!--/ END Row -->
                </div>
            </section>
            <!--/ END Contact Form + Infos -->
{% endblock content %}
{% block extra_footer %}
<script type="text/javascript">
$( document ).ready(function() {
  main_url = $(location).attr('pathname');
  if( main_url == '/contact/' ){
    $('.topmenu .active').removeClass('active');
    $('.topmenu li:nth-child(3)').addClass('active');
  } 
});
</script>
{% endblock extra_footer %}