{% load i18n %}
<html>
<head>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/uielement.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">
  <meta name="viewport" content="width=370">

</head>
<body id="guia-{{ guide_obj.number }}">
  <!-- Guia Template -->
  <center>
    <div style="width: 20px; height: 20px;"></div>

    <div style="padding-top: 20px; margin-top: 15px; border-top: 2px solid black;">
      <h4 class="title-item" style="text-align: left; padding-left:40px; font-size: 26px;"><strong>GUÍA {{ guide_obj.number }}: </strong>{{ guide_obj.name }}</h4>
    </div>

    <div style="padding-top: 10px; border-bottom: 2px solid black;">
      <h4 class="title-item text-capitalize" style="text-align: left; padding-left: 40px; font-size: 18px; font-weight: bold;">Presentación</h4>
    </div>

    <div style="padding-top: 30px; padding-left: 40px; padding-right: 30px; text-align: left;">
      <p>{{ guide_obj.description|safe }}</p>
    </div>

  </center>

  <center>
    <footer style="padding-top: 10px; border-top: 1px solid black;">
      <img src="{% static 'image/logo/logo-min.png' %}">
      <img src="{% static 'image/kronoscode.png' %}">
    </footer>
  </center>

  <!-- End Guia Template -->

  <!-- Content Template -->
  <center>
    {% for content in content_obj %}
    <div style="width: 20px; height: 40px;"></div>

    <div style="padding-top: 20px; margin-top: 15px; border-top: 2px solid black;">
      <h4 class="title-item text-capitalize" style="text-align: left; padding-left: 40px; font-size: 26px; font-weight: bold;">{{ content.section }}</h4>
    </div>

    <div style="padding-top: 10px; border-bottom: 2px solid black;">
      <h4 class="title-item" style="text-align: left; padding-left: 40px; font-size: 18px;"><strong>{{ content.title }} </strong></h4>
      <h4 class="title-item" style="text-align: left; padding-left: 40px; font-size: 14px;"><strong>{{ content.extract }} </strong></h4>
    </div>

    <div style="padding-top: 30px; padding-left: 40px; padding-right: 30px; text-align: left;">
      <p>{{ content.description|safe }}</p>
    </div>

    {% endfor %}
    <div style="width: 20px; height: 40px;"></div>
    <footer style="padding-top: 10px; border-top: 1px solid black;">
      <img src="{% static 'image/logo/logo-min.png' %}">
      <img src="{% static 'image/kronoscode.png' %}">
    </footer>
  </center>
  <!-- End Content Template -->
</body>
</html>
