#OSX
.DS_Store

#Unused folders
cacao_app/media/

# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

staticfiles/

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache
fabfile.py

#OSX
.DS_Store
