{% extends "guide_detail_base.html" %}
{% load cacao_tags custom_sorl_tags %}
{% block content %}
<!-- START Template Main -->
        <section id="main" role="main">
            <!-- Page Header -->
            <nav class="page-header page-header-block affix">
                <div class="pager">
                    <a class="indice" href="javascript:void(0);" data-toggle="sidebar" data-direction="ltr" rel="tooltip" title="Menu sidebar">
                        <span class="figure">
                            <i class="ico-paragraph-justify3"></i>
                        </span>
                        <span class="text text-uppercase">Indice</span>
                    </a>
                    <div class="next"><a href="{% url 'contenido_detail' guia.number guia.next_content.slug %}"><i class="flaticon-next15"></i></a></div>
                    <h4 class="title-item text-capitalize">Presentación</h4>
                </div>
            </nav>
            <!-- Page Header -->
<!-- START Template Container -->
            <div class="container-fluid">
                <!-- START Rows -->
                <div class="row">
                    <div class="col-lg-8 col-sm-10 col-sm-offset-1 col-lg-offset-2">
                        <!-- font size selector -->
                        <div class="dropdown font-selector pull-right">
                          <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <b><span class="ico-text-height2"></span></b> tamaño
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" data-size="14" style="font-size:14px;">Normal</a></li>
                            <li><a href="#" data-size="16" style="font-size:16px;">Grande</a></li>
                            <li><a href="#" data-size="18" style="font-size:18px;">Extra Grande</a></li>
                          </ul>
                        </div>
                        <!-- End Font size selector -->
                        <p class="fsize18 mt15 clearfix"></p>
                        <p>{{ guia.description|offline_media|safe }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-sm-offset-3 col-md-offset-6">
                        <a class="next-item" href="{% url 'contenido_detail' guia.number guia.next_content.slug %}">
                            <div class="row">
                                <div class="col-xs-10">
                                    <span class="text-top text-uppercase">SIGUIENTE TEMA</span>
                                    <span>{{ guia.next_content }}</span>
                                </div>
                                <div class="col-xs-2">
                                    <i class="flaticon-right106 fsize30"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END Rows -->
            </div>
            <!--/ END Template Container -->

            <!-- START To Top Scroller -->
            <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
            <!--/ END To Top Scroller -->
        </section>
<!--/ END Template Main -->
<style type="text/css">
    .page-header.page-header-block{
       top:70px !important;
    }
    [id^="guia-"] #header.navbar .logo-figure{
        background-size: 60px 55px;
    }
    [id^="guia-"] #main .page-header .indice{
        font-size: 14px !important;
    }
    .content-img{
        font-size: 12px;
        text-align: center;
        font-style: italic;
        height: auto !important;
    }
    .content-img img{
        margin-bottom: 3px;
    }
    @media (max-width: 480px){
        #header.navbar .navbar-header > .navbar-brand{
            padding:0;
        }
        [id^="guia-"] #header.navbar .navbar-toolbar{
            margin-left: 60px !important;
        }
        [id^="guia-"] #header.navbar .navbar-title {
            padding-left: 8px;
            font-size: 13px;
        }
    }
    @media (max-width: 440px){
        .content-img{
            width: 100% !important;
            float: none !important;
            margin: 0 auto !important;
            margin-bottom: 20px !important;
        }
    }
</style>

{% endblock content %}
