{% extends "base.html" %}
{% block content %}
        <!-- START Template Main -->
        <section id="main" role="main">
            <!-- START page header -->
            <section class="page-header page-header-block nm">
                <!-- pattern -->
                <div class="bg-icon-2 bg-icon-right" style="right: 30px;"></div>
                <!--/ pattern -->
                <div class="container-fluid pt15 pb15">
                    <div class="page-header-section">
                        <h1 class="title font-alt">Acerca de la Aplicación </h1>
                    </div>
                    <div class="page-header-section">
                    </div>
                </div>
            </section>
            <!--/ END page header -->

            <!-- START Welcome Message + Video -->
            <section class="section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-lg-10 col-lg-offset-1">
                            <!-- pattern -->
                            <div class="pattern bg-office"></div>
                            <!--/ pattern -->
                            <!-- START Row -->
                            <div class="row">
                                <div class="col-md-6 mb15">
                                    <!-- Header -->
                                    <div class="section-header section-header-bordered mb15">
                                        <h3 class="section-title">
                                            <p class="font-alt nm">Mensaje de Bienvenida </p>
                                        </h3>
                                    </div>
                                    <!--/ Header -->
                                    
                                    <p>{{ about.informacion_bienvenida|safe }}</p>
                                    
                                </div>

                                <div class="col-md-6">
                                    <div class="panel overflow-hidden">
                                        <!-- Iframe container -->
                                        <div class="iframe-container">
                                            <iframe width="100%" src="//www.youtube.com/embed/3BWWiCVuJGA" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        <!--/ Iframe container -->
                                    </div>
                                </div>
                            </div>
                            <!--/ END Row -->
                        </div>
                    </div>
                </div>
            </section>
            <!--/ END Welcome Message + Video -->

            <!-- START Meet Team -->
            <section class="section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <!-- Header -->
                            <div class="section-header text-center">
                                <h3 class="section-title">
                                    <div class="font-alt nm">Conozca Nuestro Equipo</div>
                                    <small>Nuestro miembro del equipo</small>
                                </h3>
                            </div>
                            <!--/ Header -->

                            <!-- START Row -->
                            <div class="row">
                                <div class="col-480 col-xs-6 col-sm-4 col-lg-3">
                                    <!-- team #1 -->
                                    <div class="panel no-border overflow-hidden">
                                        <!-- avatar -->
                                        <img src="./image/avatar/avatar.png" width="100%" alt="photo">
                                        <!--/ avatar -->
                                        <!-- panel body -->
                                        <div class="panel-body">
                                            <h4 class="semibold ellipsis text-center mt0">
                                                <p class="nm">Zena Meyers</p>
                                                <small class="text-accent">Chief Executive</small>
                                            </h4>
                                            <p class="text-center nm">molestie pharetra nibh. Aliquam ornare, libero at auctor ullamcorper, nisl</p>
                                            <hr>
                                            <div class="text-center">
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
                                            </div>
                                        </div>
                                        <!--/ panel body -->
                                    </div>
                                    <!--/ team #1 -->
                                </div>
                                <div class="col-480 col-xs-6 col-sm-4 col-lg-3">
                                    <!-- team #2 -->
                                    <div class="panel no-border overflow-hidden">
                                        <!-- avatar -->
                                        <img src="./image/avatar/avatar.png" width="100%" alt="photo">
                                        <!--/ avatar -->
                                        <!-- panel body -->
                                        <div class="panel-body">
                                            <h4 class="semibold ellipsis text-center mt0">
                                                <p class="nm">Dylan Mcfarland</p>
                                                <small class="text-accent">Lead Designer</small>
                                            </h4>
                                            <p class="text-center nm">Vestibulum ut eros non enim commodo hendrerit. Donec porttitor tellus</p>
                                            <hr>
                                            <div class="text-center">
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
                                            </div>
                                        </div>
                                        <!--/ panel body -->
                                    </div>
                                    <!--/ team #2 -->
                                </div>
                                <div class="col-480 col-xs-6 col-sm-4 col-lg-3">
                                    <!-- team #3 -->
                                    <div class="panel no-border overflow-hidden">
                                        <!-- avatar -->
                                        <img src="./image/avatar/avatar.png" width="100%" alt="photo">
                                        <!--/ avatar -->
                                        <!-- panel body -->
                                        <div class="panel-body">
                                            <h4 class="semibold ellipsis text-center mt0">
                                                <p class="nm">Ella Trevino</p>
                                                <small class="text-accent">Senior Developer</small>
                                            </h4>
                                            <p class="text-center nm">amet metus. Aliquam erat volutpat. Nulla facilisis. Suspendisse commodo</p>
                                            <hr>
                                            <div class="text-center">
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
                                            </div>
                                        </div>
                                        <!--/ panel body -->
                                    </div>
                                    <!--/ team #3 -->
                                </div>
                                <div class="col-480 col-xs-6 col-sm-4 col-lg-3">
                                    <!-- team #4 -->
                                    <div class="panel no-border overflow-hidden">
                                        <!-- avatar -->
                                        <img src="./image/avatar/avatar.png" width="100%" alt="photo">
                                        <!--/ avatar -->
                                        <!-- panel body -->
                                        <div class="panel-body">
                                            <h4 class="semibold ellipsis text-center mt0">
                                                <p class="nm">Maxwell Duran</p>
                                                <small class="text-accent">Supervisor</small>
                                            </h4>
                                            <p class="text-center nm">Pellentesque tincidunt tempus risus. Donec egestas. Duis ac arcu. Nunc facilisis</p>
                                            <hr>
                                            <div class="text-center">
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                                                <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
                                            </div>
                                        </div>
                                        <!--/ panel body -->
                                    </div>
                                    <!--/ team #4 -->
                                </div>
                            </div>
                            <!--/ END Row -->
                        </div>
                    </div>
                </div>
            </section>
            <!--/ END Meet Team -->
{% endblock content %}
{% block extra_footer %}
<script type="text/javascript">
$( document ).ready(function() {
  main_url = $(location).attr('pathname');
  if( main_url == '/about/' ){
    $('.topmenu .active').removeClass('active');
    $('.topmenu li:nth-child(4)').addClass('active');
  } 
});
</script>
{% endblock extra_footer %}