{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
        <!-- START Template Main -->
        <section id="main" role="main">

            <section class="section"> <!-- bgcolor-white -->
                <div class="container-fluid pl15">
                    <!-- START Row -->
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col- mb15">
                            <!-- Header -->
                            <h3 class="text-uppercase text-accent">Como Funciona</h3><br>
                            <!--/ Header -->
                            <!-- Content -->
                            
                            <div class="text-justify">
                                <p>
                                La Caja de Herramientas para Cacao: Aprendiendo e Innovando sobre el manejo sostenible del cultivo de cacao en sistemas agroforestales se presenta en diferentes versiones o formatos, los cuales se explican a continuación.  
                                </p>
                            </div>

                            <!--/ Content -->
                        </div>
                    </div>
                    <!--/ END Row -->
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col- mb15 mt15">
                            <div class="well-help">
                                <strong>Caja de herramientas para Cacao versión online. </strong>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{% static 'image/how-it-works/3ra-Guia-Laptop.png' %}" class="img-responsive" alt="Responsive image Laptop">
                                    <p>Es una versión de las guías que puede ser consultada visitando el sitio <a href="http://cacaomovil.com">cacaomovil.com</a> utilizando cualquier navegador web. Es una versión funcionalmente orientada para la navegación desde computadoras de escritorio o laptops, pero también se adapta a cualquier pantalla de tablet o dispositivo móvil.</p>
                                </div>
                                <div class="col-md-8">
                                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/9CVifdTncrc" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="col-md-12">
                                    En el menú principal se puede acceder a la Lista de guías y a información Acerca de la aplicación. Dentro de cada guía, en la parte izquierda, se cuenta con un menú desplegable que muestra el contenido de la guía y permite navegar en ella. 
                                </div>
                                <div class="col-md-4" style="display:none;">
                                    <h4>Acciones</h4>
                                    <p>Dentro de cada guía, en la parte superior derecha, se cuenta con las siguientes acciones: Inicio para volver al Directorio de Guías, Imprimir para acceder a una versión imprimible de la guía , Descargar para descargar la guía en formato HTML que permitirá acceder a ella sin conexión a internet, y Guías que desplega un menú navegable para ver el resto de guías disponibles en el sitio.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col- mb15 mt15">
                            <div class="well-help">
                                <strong>Caja de herramientas para Cacao versión aplicación móvil Android.</strong>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                <img src="{% static 'image/how-it-works/android.png' %}" class="img-responsive" alt="Responsive image Tablet">
                                

                                </div>
                                <div class="col-md-8">
                                <p>Es una versión disponible para dispositivos móviles Android, la cual ofrece una experiencia nativa de exploración del contenido de las guías en tu smartphone. La conexión a internet del smartphone es únicamente requerida para descargar los contenidos de cada guía. Posteriormente a la descarga, los contenidos pueden ser visualizados sin el requerimiento de una conectividad a la red.</p>
        
                                <iframe width="100%" height="350" style="margin-top:15px;"src="https://www.youtube.com/embed/vPEZyCd-a9s" frameborder="0" allowfullscreen></iframe>
                                <p>La aplicación puede ser descargada en el siguiente enlace. </p>
                                <a class="btn btn-google-play" href="https://play.google.com/store/apps/details?id=kronos.cacaomovil" >
                                    <img src="{% static 'image/google-play.png' %}" alt="image google play image">
                                </a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ END Contact Form + Infos -->
{% endblock content %}
{% block extra_footer %}
<script type="text/javascript">
    $( document ).ready(function() {
        $('.topmenu .howworks-menu').addClass('active'); 
    });
</script>
{% endblock extra_footer %}
