<!-- START Template Container -->
{% extends "base.html" %}
{% load custom_sorl_tags i18n %}
{% block content %}
        <!-- START Template Main -->
        <section id="main" role="main">

            <!-- START jumbotron -->
            <section class="jumbotron" style="min-height:325px;">
                <!-- pattern overlay -->
                <div class="pattern overlay"></div>
                <!--/ pattern overlay -->
                <div class="container text-center" style="padding-top:7%;">
                    <img src="{% static 'image/logo/vaina-cacao.png' %}" alt="Vaina Cacao">
                    <h1 class="text-white text-uppercase">Caja de herramientas para cacao</h1>
                    <h4 class="text-white">Aprendiendo e innovando sobre el cacao en sistemas agroforestales</h4>
                </div>
            </section>
            <!--/ END jumbotron -->
            <div class="container-fluid">
                <!-- START Row -->
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h3 class="text-uppercase text-accent">¿EN QUE CONSISTE?</h3>
                        <p>La Caja de Herramientas para Cacao: Aprendiendo e Innovando sobre el Manejo Sostenible del Cultivo de Cacao en Sistemas Agroforestales se compone de 10 guías prácticas para pequeños productores de cacao y sus cooperativas en la región de América Latina.</p>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="well-help">
                            <strong>CLICK EN CADA GUÍA PARA LEER GUIA</strong>
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row">
                            {% for guia in guias %}
                            <div class="col-lg-4 col-sm-4 col-xs-6 col-480">
                                <!-- thumbnail -->
                                <div class="thumbnail animation animating delay fadeInRight">
                                    <!-- media -->
                                    <div class="media">
                                        <!-- toolbar overlay -->
                                        <div class="overlay visible-md visible-lg">
                                            <div class="toolbar">
                                                <a href="{{ guia.get_absolute_url }}" target="_blank" class="btn back-guia{{ guia.number }}" title="Ver Guía"><i class="flaticon-eye46 fsize18"></i></a>
                                                <a href="{{ guia.get_download_url }}" class="btn back-guia{{ guia.number }}" title="Descargar Guía"><i class="flaticon-download170 fsize18" ></i></a>
                                                <a href="./" class="btn back-guia{{ guia.number }}" title="Imprimir Guía"><i class="flaticon-printer78 fsize18" ></i></a>
                                            </div>
                                        </div>
                                        <!--/ toolbar overlay -->
                                        {% thumbnail guia.image "247x311" crop="center" as img %}
                                         <a href="{{ guia.get_absolute_url }}" target="_blank"><img src="{{ img.url }}" alt="Cover" width="100%" /></a>
                                        {% endthumbnail %}
                                        <!-- book effect -->
                                        <div class="effect"></div>
                                        <!--/ book effect -->
                                        <div class="header back-guia{{ guia.number }} text-uppercase text-white">
                                            <h4 class="title" ><a href="{{ guia.get_absolute_url }}" target="_blank">{{ guia.name }}</a></h4>
                                            <div class="guia" >
                                                <span>Guía</span>
                                                <span class="number">{{ guia.number }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ media -->
                                </div>
                                <!--/ thumbnail -->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- END Row -->
            </div>
            <!--/ END Template Container -->
{% endblock content %}
